@{
    ViewBag.Title = "Home Page";
}

<style>
    body {
        background-color:darkorange;
    }
</style>
 
<div class="jumbotron">
    <h1 style="color: orangered; background-color: blue;">EMPLOYEE SALARY CALCULATION SYSTEM</h1>"
 </div>